server:
  port: 9003

spring:
  application:
    name: app-service
  datasource:
    url: jdbc:mysql://localhost:3306/playstore_app_db
    username: root
    password: Harsh@9140
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
