server:
  port: 9002

spring:
  application:
    name: owner-service
  datasource:
    url: jdbc:mysql://localhost:3306/playstore_owner_db
    username: root
    password: Harsh@9140
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: mysecretkey123456789012345678901234
  expiration: 86400000
