server:
  port: 9004

spring:
  application:
    name: notification-service
  mail:
    host: smtp.example.com
    port: 587
    username: harshit91400@gmail.com
    password: Harsh@9140
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
