server:
  port: 9001

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/playstore_user_db
    username: root
    password: Harsh@9140
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: mysecretkey123456789012345678901234  # 32+ chars
  expiration: 86400000
